@{
    ViewBag.Title = "ClubRepComponents";
}



@{
    ViewBag.Title = "ClubRepComponents";
}

<body style="font-size:20px">

    <h1>Stadium Manager Components</h1>

    <hr />

    <h2>Choose what you want to do!</h2>

    <br />

    @Html.ActionLink("View Stadium Info", "ViewStadiumData", "StadiumManager")
    <br />
    @Html.ActionLink("View All Host Request", "AllHostRequest", "StadiumManager")
    <br />








</body>