@*@{
        ViewBag.Title = "Contact";
    }
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@

<h1>Contact Us</h1>
<hr />
<br />

<h2>Arwa Gad</h2>
<ul>
    <li><a>arwa.gad@student.guc.edu.eg</a></li>
</ul>
<hr />
<h2>Jana Abubakr</h2>
<ul>
    <li><a>jana.elmawla@student.guc.edu.eg</a></li>
</ul>
<hr />

<h2>Nour Ashraf</h2>
<ul>
    <li><a>nour.ibrahimmohamed@student.guc.edu.eg</a></li>
</ul>
<hr />
<h2>Ebram Fadl</h2>
<ul>
    <li><a>ebram@ntsal.com</a></li>
</ul>
<hr />

