
@{
    ViewBag.Title = "Register";
}


<body style="font-size:20px">

    <h1>Register</h1>


    <br />
    <br />


    @Html.ActionLink("Sport Association Manager", "Register", "SportManager")
    <br />
    @Html.ActionLink("Fan", "Register", "Fan")
    <br />
    @Html.ActionLink("Stadium Manager", "Register", "StadiumManager")
    <br />
    @Html.ActionLink("Club Representitive", "Register", "ClubRep")

</body>
