@{
    ViewBag.Title = "FanComponents";
}


<body style="font-size:20px">

    <h1>Fan Components</h1>

    <hr />

    <h2>Choose what you want to do!</h2>

    <br />



    @Html.ActionLink("View Available Matches", "InputDate", "Fan")

    <br />

    @Html.ActionLink("Show your tickets", "AllTickets", "Fan")






</body>