@model SoccerWebsite.Models.Message

@{
    ViewBag.Title = "Message";
}



<body style="text-align:center;color:red;display:flex;justify-content:center">

    <h1 style="color:black">Something went wrong</h1>
    <br />
    <div style="border:2px solid red;padding:20px 20px 50px 20px">
        <h2>@Model.content</h2>
    </div>

</body>
