
@{
    ViewBag.Title = "Register";
}

<h1>Club Representative Registration</h1>

<hr />

@using (Html.BeginForm("Register", "ClubRep", FormMethod.Post))
{
    <form>
        <div class="mb-3">
            <label for="inputName" class="form-label">Representative Name</label>
            <input type="text" class="form-control" id="inputName" name="repName" required>
        </div>
        <br />
        <div class="mb-3">
            <label for="inputName" class="form-label">Club Name</label>
            <input type="text" class="form-control" id="inputName" name="clubName" required>
        </div>
        <br />
        <div class="mb-3">
            <label for="inputUsername" class="form-label">Username</label>
            <input type="text" class="form-control" id="inputUsername" name="username" required>
        </div>
        <br />
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword" name="password" required>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
        <br />
    </form>
}

